.game-content {
    padding: 5rem;
}
.game-header {
    font-size: 1.9rem;
    text-align: center;
    padding: 3rem;
    color: #b5838d;
}
.cards {
    max-width: 100%;
    max-height: 100%;
    transition: 0.4s linear;
    padding: 1.1rem;
}
.cards:hover {
    box-shadow: 0px 1px 35px 0px rgba(0,0,0, 0.3);
}
.single-tour img {
    max-width: 100%;
    max-height: 100%;
}
 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-self: stretch;
  }
  .single-tour {
    background: #7400b8;
    color: #ffffff;
    text-align: center;
  }
.game-card-content {
    text-align: center;
}
.game-card-h2 {
    font-size: 1.3rem;
}
.game-card-span{
    font-size: 0.8rem;
}
.game-card-content h3 {
    padding-top: 1rem;
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
}
.game-card-content p {
    font-size: 0.8rem;
}